{% extends 'base.html' %}

{% block content %}

<div class="row row-cols-4 g-4">
    {% for meal in meals %}
    <div class="col">
        <div class="card m-3" style="width: 18rem;">
            <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="{{ meal.strMeal }}">
            <div class="card-body">
                <h5 class="card-title">{{ meal.strMeal }}</h5>
                <p class="card-text">{{ meal.idMeal }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}